.landing{
    height: 100vh;
    overflow: hidden;
    background-image: url('../media/yoav-aziz-tKCd-IWc4gI-unsplash.jpg');
    background-position: 10%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.landing-pic{
    position: absolute;
    height: 100%;
    // width: 100%;
    z-index: -1;
    // width: 100%;
    overflow: hidden;
}

