.loading{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: black;
}

.loading-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // z-index: 2;
}
