html {
  overflow: hidden;
  -webkit-animation: prevent-scroll 0s ease forwards 2s;
          animation: prevent-scroll 0s ease forwards 2s;
}

@-webkit-keyframes prevent-scroll {
  to {
    overflow: scroll;
  }
}

@keyframes prevent-scroll {
  to {
    overflow: scroll;
  }
}

.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: black;
  -webkit-animation: fade-out 1s ease forwards 2s, box-none 0s ease forwards 3s;
          animation: fade-out 1s ease forwards 2s, box-none 0s ease forwards 3s;
}

@-webkit-keyframes box-none {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 0;
    width: 0;
  }
}

@keyframes box-none {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 0;
    width: 0;
  }
}

.loading-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill-in 0.5s ease forwards 1s, zoom 2s cubic-bezier(0.54, 0.36, 1, -0.33) forwards;
          animation: fill-in 0.5s ease forwards 1s, zoom 2s cubic-bezier(0.54, 0.36, 1, -0.33) forwards;
}

@-webkit-keyframes zoom {
  to {
    height: 250%;
    width: 250%;
  }
}

@keyframes zoom {
  to {
    height: 250%;
    width: 250%;
  }
}

@-webkit-keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: red;
  }
}

@keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: red;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-svg circle {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 989px;
  stroke-dashoffset: 989px;
  -webkit-animation: line-anim 1.25s ease forwards;
          animation: line-anim 1.25s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

.landing {
  height: 100vh;
  overflow: hidden;
}

.landing-video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  min-height: auto;
  z-index: -1;
}

.landing-content {
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 25%, 0% 40%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 25%, 0% 40%);
}

@media screen and (min-width: 600px) {
  .landing-content {
    -webkit-clip-path: none;
            clip-path: none;
    background: none;
  }
}

.landing-content-container {
  -webkit-filter: drop-shadow(-1px 6px 3px black);
          filter: drop-shadow(-1px 6px 3px black);
}

@media screen and (min-width: 600px) {
  .landing-content-container {
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
  }
}

.landing-content p {
  color: red;
  font-weight: 800;
  font-size: 18vw;
  text-align: center;
  margin: 0;
  top: 2%;
  position: relative;
  line-height: 115%;
}

@media screen and (min-width: 600px) {
  .landing-content p {
    color: rgba(255, 0, 0, 0.8);
    top: 10%;
  }
}

.landing-arrows {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.landing-arrows span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #FF0000;
  border-right: 5px solid #FF0000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.landing-arrows span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

.content-blocks {
  background-color: black;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
  color: white;
  padding: 2rem 0;
  overflow-x: hidden;
}

.block-culture h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

@media screen and (min-width: 900px) {
  .block-culture h1 {
    font-size: 6rem;
  }
}

.culture-img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.culture-img-wrap img {
  width: 90%;
  padding: 1rem;
}

@media screen and (min-width: 900px) {
  .culture-img-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 1rem;
  }
  .culture-img-wrap img {
    height: 25rem;
    width: auto;
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */