.loading {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: black;
  -webkit-animation: fade-out 1s ease forwards 2.5s;
          animation: fade-out 1s ease forwards 2.5s;
}

.loading-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fill-in 0.5s ease forwards 1.05s, zoom 1.5s ease forwards, zoom-even-more 1s ease forwards 1.75s, overflow 2s ease forwards, fade-out 1s ease forwards 2.5s;
          animation: fill-in 0.5s ease forwards 1.05s, zoom 1.5s ease forwards, zoom-even-more 1s ease forwards 1.75s, overflow 2s ease forwards, fade-out 1s ease forwards 2.5s;
}

@-webkit-keyframes zoom {
  to {
    height: 75%;
    width: 75%;
  }
}

@keyframes zoom {
  to {
    height: 75%;
    width: 75%;
  }
}

@-webkit-keyframes zoom-even-more {
  from {
    height: 75%;
    width: 75%;
  }
  to {
    height: 250%;
    width: 250%;
  }
}

@keyframes zoom-even-more {
  from {
    height: 75%;
    width: 75%;
  }
  to {
    height: 250%;
    width: 250%;
  }
}

@-webkit-keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: red;
  }
}

@keyframes fill-in {
  from {
    fill: transparent;
  }
  to {
    fill: red;
  }
}

@-webkit-keyframes overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: scroll;
  }
}

@keyframes overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: scroll;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading-svg circle {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 989px;
  stroke-dashoffset: 989px;
  -webkit-animation: line-anim 1.25s ease forwards;
          animation: line-anim 1.25s ease forwards;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

.landing {
  height: 100vh;
  overflow: hidden;
}

.landing-video-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  min-height: auto;
  z-index: -1;
}

.landing-content {
  height: 100%;
  background: black;
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 25%, 0% 40%);
          clip-path: polygon(0px 0px, 100% 0px, 100% 25%, 0% 40%);
}

@media screen and (min-width: 600px) {
  .landing-content {
    -webkit-clip-path: none;
            clip-path: none;
    background: none;
  }
}

.landing-content-container {
  -webkit-filter: drop-shadow(-1px 6px 3px black);
          filter: drop-shadow(-1px 6px 3px black);
}

@media screen and (min-width: 600px) {
  .landing-content-container {
    -webkit-filter: drop-shadow(0 0 2px black);
            filter: drop-shadow(0 0 2px black);
  }
}

.landing-content p {
  color: red;
  font-weight: 800;
  font-size: 18vw;
  text-align: center;
  margin: 0;
  top: 2%;
  position: relative;
  line-height: 115%;
}

@media screen and (min-width: 600px) {
  .landing-content p {
    color: rgba(255, 0, 0, 0.8);
    top: 10%;
  }
}

.landing-arrows {
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.landing-arrows span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #FF0000;
  border-right: 5px solid #FF0000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.landing-arrows span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.master {
  overflow-x: hidden;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.block-culture {
  background-color: white;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */