// imports
@import "parts/_loading.scss";
@import "parts/_landing.scss";
@import "parts/_content.scss";
@import "parts/_nav.scss";
@import "parts/_culture.scss";
@import "parts/_why.scss";


html::-webkit-scrollbar {
    display: none;
}

html{
    scrollbar-width: none; //for firefox
    overflow-x: hidden;
}

// .master{
//     // overflow-x: hidden;
//     // position: relative; breaks website
// }


// set & forget
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    // overflow-y: hidden;
}
