// imports
@import "_loading.scss";
@import "_landing.scss";
@import "_nav.scss";

html::-webkit-scrollbar {
    display: none;
}

html{
    scrollbar-width: none; //for firefox
}

.master{
    overflow-x: hidden;
    position: relative;
}


// set & forget
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    // overflow-y: hidden;
}

.block-culture{
    background-color: white;
    height: 100vh;
}