.why-head-large {
    display: none;
}

.because {
    // padding: 1rem;
    text-align: center;
    color: #cd0000;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 1rem;
    p {
        margin: 0;
    }
}

.why-dynamic {
    path{
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    path:nth-child(1){
        stroke-dashoffset: 422.52px;
        stroke-dasharray: 422.52px;
    }
    path:nth-child(2){
        stroke-dashoffset: 293.90px;
        stroke-dasharray: 293.90px;
    }
    path:nth-child(3){
        stroke-dashoffset: 216.07px;
        stroke-dasharray: 216.07px;
    }
    path:nth-child(4){
        stroke-dashoffset: 183.45px;
        stroke-dasharray: 183.45px;
    }
    path:nth-child(5){
        stroke-dashoffset: 254.51px;
        stroke-dasharray: 254.51px;
    }
    path:nth-child(6){
        stroke-dashoffset: 225.63px;
        stroke-dasharray: 225.63px;
    }
    path:nth-child(7){
        stroke-dashoffset: 254.51px;
        stroke-dasharray: 254.51px;
    }
    path:nth-child(8){
        stroke-dashoffset: 307.03px;
        stroke-dasharray: 307.03px;
    }
    path:nth-child(9){
        stroke-dashoffset: 220.42px;
        stroke-dasharray: 220.42px;
    }
}

@media screen and (min-width:900px) {
    .block-why {
        height: 100vh;
        display: flex;
    }
    .why-head-large {
        display: block;
        flex: 1 1 0px;
        padding: 2rem 0 0 0;
        // h1 {
        //     font-size: 10rem;
        //     margin: 0 0 -4rem 0;
        //     padding: -1rem 0;
        //     background-clip: text;
        // }
        svg {
            width: 100%;
            height: 35%;
        }
    }
    .why-head-small {
        display: none;
    }
    .because {
        flex: 1 1 0px;
        align-self: flex-end;
        font-size: 2.5vw;
        text-align: end;
    }
}

